.home-section {
  text-align: left;
  padding: 50px;
}

.navbar {
  margin-bottom: 20px;
}

.custom-navbar {
  background-color: #ffffff;
  margin-top: 2em;
}

.navbar-toggler {
  border: none; /* Style the toggle button if needed */
}

.logo {
  max-width: 100%; /* Ensures the logo is responsive */
}

/* Ensure that the entire app takes up at least the full height of the viewport */
.app-container {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  overflow: hidden; /* Prevents content from overflowing */
}
