.home-section {
  text-align: center;
  padding: 50px;
}

.navbar {
  margin-bottom: 20px;
}

.custom-navbar{
    background-color: #FFFFFF;
    margin-top: 1.5em;
}

.navbar-toggler {
    border: none; /* Style the toggle button if needed */
  }
  
  .logo {
    max-width: 100%; /* Ensures the logo is responsive */
  }
  